@font-face {
    font-family: "Pokemon Solid";
    src: url("../../fonts/pokemon_solid/pokemonsolid.ttf");
  }

  @keyframes bounce {
    0% {
      transform: translateY(-50%) scale(0.8);
      opacity: 0;
    }
    20% {
      transform: translateY(0) scale(1.1);
      opacity: 1;
    }
    40% {
      transform: translateY(-10px) scale(0.9);
    }
    60% {
      transform: translateY(-5px) scale(1.05);
    }
    80% {
      transform: translateY(-2px) scale(0.98);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }


.CardGrid {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 290px;
    width: 210px;
    list-style: none;
    border-radius: 6px;
    border: 10px solid rgb(147, 11, 11);
    box-shadow: 10px 0px 15px 5px rgb(0, 0, 0);
    position: relative;
    margin: 20px 0;
    box-shadow: 10px 0px 15px 5px rgb(0, 0, 0);
    background-image: url('../../img/mundoPoke.jpg');
    background-size: cover;
    color: aliceblue;
    padding: 5px;
    animation: bounce 1s ease-out;
    animation: bounce 1s forwards;
}

.CardGrid:hover{

  
    opacity: 80%;
    cursor: pointer;
    
}

.link {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.CardGrid h1 {

    text-decoration: none;
    font-size: 22px;
    font-family: monospace;
    text-transform: uppercase;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background: none;
    text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    padding: 0 10px;
    border-radius: 50px;
    font-family: "Pokemon Solid" , Arial, sans-serif;
    letter-spacing: 5px;
}

.CardGrid p {

    font-size: 18px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 800;
}

.image{
    /* background-color: rgb(48, 48, 48); */
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-sizing: content-box;
}

.image:hover {

  transform: scaleX(-1);
}

.ContainPowers {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}