/* .input {

    background: rgb(93, 93, 93);
    width: 400px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    appearance: none;
    outline: none;
    border: 1px solid rgb(115, 115, 115);
}
*/
.input::placeholder{
    color: rgba(194, 194, 194, 0.8);
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    color: #00ff08;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 400px;
    height: 40px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   

.containerFooter {

    
    margin: 0;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    /* border-bottom: 20px solid black; */

    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 70px;
    margin-top: 100px; */
    height: 300px;
}

.containerCards {
    margin: 0;
    padding: 0;
}







.footer {
    background-color: rgb(26, 26, 26);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 98.45%;
    
  }
  
  .section {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin-bottom: 30px;
    background-color: rgb(26, 26, 26);
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgb(26, 26, 26);
  }
  
  .icon {
    font-size: 18px;
    margin-right: 5px;
    background-color: rgb(26, 26, 26);
  }
  
  .onlyIcon {

    font-size: 30px;
    margin-right: 5px;
    color: #00ff08;
    background-color: rgb(26, 26, 26);
  }

  .onlyIcon:hover {

    cursor: pointer;
    color: #ff0000;
  }

  .linkList {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
  }
  
  .linkList li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgb(26, 26, 26);
  }
  
  .linkList li a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    background-color: rgb(26, 26, 26);
  }

  .linkList li a:hover {

    color: #8400ff;
  }
  
  .socialIcons {
    display: flex;
    background-color: rgb(26, 26, 26);
  }
  
  .socialIcons .onlyIcon {
    padding: 0;
    margin: 10px;
    background-color: rgb(26, 26, 26);
  }
  
  .messageForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(26, 26, 26);
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    resize: none;
    background-color: rgb(26, 26, 26);
  }
  
  .sendMessageButton {
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(26, 26, 26);
  }
  
  .sendMessageButton:hover {
    background-color:  #8400ff;
  }
    